#editor{
  overflow: scroll;
}

h1{
  font-size: 3em;
  font-family: serif;
}

h2{
  font-size: 2em;
  color: #FF725C;
}

h3{
  font-size: 1.7em;
  font-family: serif;
}

h4{
  font-size: 1.3em;
  color: #FF725C;
}

h5{
  font-size: 1.3em;
  font-weight: lighter;
  font-family: serif;
}

h6{
  font-size: 1.3em;
  font-weight: lighter;
  color: #FF725C;
}

.RichEditor-controls {
}

.RichEditor-root{
  /*height: 100vh;*/
}
.DraftEditor-editorContainer{
  height: 85vh;
}

.title-field{
  border: none;
  border-bottom: 2px solid red;
  outline: none;
}

/*.styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 1em;
  padding: 1.1em 0;
  display: inline-block;
}*/


.text-button{
  display: inline-block;
}
/*.styleButton-active {
  color: #5890ff;
}*/
.pallete{
  width: 200px;
}
.main-editor{
  margin-left: 130px;
}

.Block-quote{
  font-size: 2em;
  text-align: center;
  color: red;
}

.Code-block{
  background-color: #F4F4F4;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 6px;
}

.Terminal{
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}