.RichEditor-blockquote {
  color: #999;
  /*font-family: 'Hoefler Text', Georgia, serif;*/
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

.RichEditor-codeblock {
  background: #eff0f1;
  margin: 0px 0;
}

.RichEditor-controls {
  /*font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  margin-bottom: 0.2em;
  user-select: none;
  padding: 0.1em;*/
}

.RichEditor-root{
  /*height: 100vh;*/
}
.DraftEditor-editorContainer{
  height: 100vh;
}

.RichEditor-hidePlaceholder{
  
}

/*.styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 1em;
  padding: 1.1em 0;
  display: inline-block;
}*/

/*.styleButton-active {
  color: #5890ff;
}*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}