.Notes a{
  color: steelblue;
  font-size: 1.2em;
  list-style-type: none;
  text-decoration: none;
  padding: 0.2em;
  cursor: pointer;
}

.Notes a:hover{
  color: white;
  font-size: 1.2em;
  background: steelblue;
  padding: 0.2em;
  border-radius: 3px;
  list-style-type: none;
  text-decoration: none;
}

.List-Item a{
  list-style-type: none;
}

.NoteListItem{
  height: 180px;
}
